.home {
  width: 100%;
  height: 100%;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;

  .modal-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.7);

    .modal {
      max-width: 300px;
      display: grid;
      place-content: center;
      padding: 20px;
      background-color: #3e3e43;
      border-radius: 20px;

      .modal-text {
        color: #cfcfcf;
        font-family: "Trebuchet MS", sans-serif;
        font-size: 20px;
        text-align: center;
      }

      .modal-buttons {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 30px;

        button {
          width: 100px;
        }
      }
    }
  }

  .left-panel {
    height: 100%;
    border-radius: 20px;
    box-shadow: 4px 4px 7px #35353a, -4px -4px 7px #47474c;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      margin-bottom: 20px;
    }

    textarea {
      margin-bottom: 20px;
    }

    .create-post {
      font-family: "Trebuchet MS", sans-serif;
      text-align: left;
      width: 100%;
      color: #f6cc35;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 20px;
    }

    .find-users {
      margin-top: 20px;
    }

    .users-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;
      overflow-y: scroll;

      .user {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-family: "Trebuchet MS", sans-serif;
        background-color: #f6cc35;
        padding: 5px 10px 5px 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        box-sizing: border-box;

        .user-info {
          display: flex;
          flex-direction: column;
          color: #3e3e43;

          .username {
            font-weight: bold;
            font-size: 20px;
          }

          .username:hover {
            cursor: pointer;
            text-decoration: underline;
          }

          .full-name {
            font-size: 14px;
            font-style: italic;
          }
        }

        .follow {
          background-color: #3e3e43;
          padding: 5px;
          border-radius: 10px;
          font-size: 12px;
          color: #f6cc35;
          font-weight: bold;
        }

        .follow:hover {
          cursor: pointer;
          filter: opacity(0.7);
        }
      }
    }
  }

  .right-panel {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    .latest-posts {
      font-family: "Trebuchet MS", sans-serif;
      color: #f6cc35;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
      margin-left: 20px;
    }

    .posts-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      padding: 20px;
      overflow-y: scroll;
    }
  }
}