.button {
  color: #3e3e43;
  background-color: #f6cc35;
  font-family: "Trebuchet MS", sans-serif;

  &:active {
    filter: opacity(0.5);
    background-color: #f6cc35;
  }
}

.loader {
  width: 50%;
  margin: auto;
}