.body {
  height: 100vh;
  width: 100vw;
  background-color: #3e3e43;
  display: flex;
  flex-direction: column;
  align-items: center;

  .app-header {
    width: calc(100% - 50px);
    border-radius: 20px;
    box-shadow: 4px 4px 7px #35353a, -4px -4px 7px #47474c;
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    place-content: center;
    margin-top: 20px;
    color: #f6cc35;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

  .app-body {
    width: calc(100% - 50px);
    height: 100%;
    max-height: calc(100% - 83px);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 0;
    box-sizing: border-box;
  }
}